html {
	min-width: 100%;
    font-size:12px;
    margin:0;
    padding:0;
}

html,
body {
    font-size: 15px;
    cursor: default;
}

.container {
    display: block;
    margin-top: 0;
}

.text {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.dud {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 100;
    color: #333333;
}
::selection {
  background: #0D0D0D;
  color: #D9D9D9;
}

body {
	margin-top: 10px;
	margin-bottom: 0;
	width: 95%;
	min-height: 100%;
	margin-left: 5%;
	background-color: #F2F2F2;
}

a:link {
	color: currentColor;
	text-decoration: none;
}

a:visited {
	color: currentColor;
	text-decoration: none;
}

.navigation {
	font-family: 'Anonymous Pro', monospace;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	color: #0D0D0D;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	top: 0;
}

.navigation :hover {
	background-color: #D9D9D9;
	color: #000000;
}

.button {
	display: inline-block;
}

.logo {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 75px;
	font-style: normal;
	font-variant: normal;
	text-align: left;
	color: #0D0D0D;
	margin-top: 20px;
	padding: 0;
	display: block;
}

.bottom-bar {
	font-family: 'Anonymous Pro', monospace;
	font-weight: 400;
	font-size: 15px;
	color: #808080;
	display: block;
	position: fixed;
	margin-top: 100%;
    bottom: 0;
}

.copyright {
	position: fixed;
    bottom: 10px;
}

.about-me {
	font-family: 'Anonymous Pro', monospace;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	color: #0D0D0D;
	margin-top: 75px;
	display: block;
	position: relative;
	max-width: 400px;
    width:95%;
}

.about-me-text {
	text-align: justify;
	text-justify: inter-word;
}

.about-links {
	font-family: 'Anonymous Pro', monospace;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	font-style: normal;
	font-variant: normal;
	text-align: left;
	color: #0D0D0D;
	margin-top: 20px;
	padding: 0;
	display: block;
}

a {
	text-align: justify;
	text-justify: inter-word;
}

.about-links :hover {
	background-color: #D9D9D9;
	color: #000000;
}
