html {
	min-width: 100%;
}

::selection {
  background: #0D0D0D;
  color: #D9D9D9;
}

body {
	margin-top: 10px;
	margin-bottom: 0;
	width: 450px;
	max-width: 450px;
	min-width: 450px;
	min-height: 100%;
	max-height: 100%;
	margin-left: 5%;
	background-color: #F2F2F2;
	cursor: default;
}

a:link {
	color: currentColor;
	text-decoration: none;
	cursor: default;
}

a:visited {
	color: currentColor;
	text-decoration: none;
	cursor: default;
}

.navigation {
	font-family: 'Anonymous Pro', monospace;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	font-style: normal;
	font-variant: normal;
	border-spacing: 0;
	text-align: left;
	color: #0D0D0D;
	margin: 0;
	padding: 0;
	display: block;
	cursor: default;
	float: top;
	position: relative;
	top: 0;
}

.navigation :hover {
	background-color: #D9D9D9;
	color: #000000;
	cursor: default;
}

.button {
	display: inline-block;
}

.logo {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 75px;
	font-style: normal;
	font-variant: normal;
	border-spacing: 0;
	text-align: left;
	color: #0D0D0D;
	margin-top: 20px;
	padding: 0;
	display: block;
	cursor: default;
}

.bottom-bar {
	font-family: 'Anonymous Pro', monospace;
	font-weight: 400;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	border-spacing: 0;
	text-align: left;
	color: #808080;
	display: block;
	cursor: default;
	float: bottom;
	position: fixed;
	margin-top: 100%;
    bottom: 0;
}

.copyright {
	cursor: default;
	float: bottom;
	position: fixed;
    bottom: 10px;
}

.about-me {
	font-family: 'Anonymous Pro', monospace;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	font-style: normal;
	font-variant: normal;
	border-spacing: 0;
	text-align: left;
	color: #0D0D0D;
	margin-top: 75px;
	display: block;
	cursor: default;
	position: relative;
	min-width: 400px;
	max-width: 400px;
}

.about-me-text {
	text-align: justify;
	text-justify: inter-word;
}

.about-links {
	font-family: 'Anonymous Pro', monospace;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	font-style: normal;
	font-variant: normal;
	border-spacing: 0;
	text-align: left;
	color: #0D0D0D;
	margin-top: 20px;
	padding: 0;
	display: block;
	cursor: default;
	position: relative;
	min-width: 400px;
	max-width: 400px;
}

a {
	text-align: justify;
	text-justify: inter-word;
}

.about-links :hover {
	background-color: #D9D9D9;
	color: #000000;
	cursor: default;
}
